@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "خطا";
}

<hgroup class="title">
    <h1 class="error">خطا</h1>
    <h2 class="error" style="text-align:center;direction:rtl">در پردازش درخواست شما مشکلی رخ داده است لطفاً دوباره تلاش بفرمایید.</h2>
</hgroup>
