@{
    ViewBag.Title = "هدایای برنزی";
}



<style>
    .datagrid {
      margin:auto;
   margin:80px auto 40px auto;
  font-family:B Koodak,Arial, sans-serif;
    direction:rtl;
    width:50%;
    }

    .Actionlink_style {
    color:blue;
    font: normal 12px/150% ,B Koodak,Arial, sans-serif;
    }
     .Actionlink_style:hover {
    color:orange;
    text-decoration:underline;
    }
    .datagrid table { border-collapse: collapse; text-align: center; width: 100%; } 
    .datagrid {font: normal 12px/150% ,B Koodak,Arial, sans-serif; background: #fff; overflow: hidden; border: 1px solid #275420; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }
    .datagrid table td, .datagrid table th { padding: 3px 2px;text-align:center;width:auto; }
    .datagrid table thead th {background-color:#00a99d; color:#FFFFFF; font-size: 18px; font-weight: bold; border-left: 1px solid #00a99d; } 
    .datagrid table thead th:first-child { border: none; }
    .datagrid table tbody td { color: #275420; border-left: 1px solid #C6FFC2;font-size: 12px;border-bottom: 1px solid #E1EEF4;font-weight: normal;}
    .datagrid table tbody .alt td { background: blue; color: #275420; }
    .datagrid table tbody td:first-child { border-left: none; }
   
    .datagrid table tfoot td div { border: 1px solid #00a99d;background: #DFFFDE;} 
    .datagrid table tfoot td { padding: 0; font-size: 12px } 
    .datagrid table tfoot td div{ padding: 2px; }
    .datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
    .datagrid table tfoot  li { display: inline; }
    .datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #00a99d;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00a99d), color-stop(1, #275420) );background:-moz-linear-gradient( center top, #00a99d 5%, #275420 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a99d', endColorstr='#275420');background-color:#00a99d; }
    .datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #275420; color: #FFFFFF; background: none; background-color:#00a99d;} 
    div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

        .button_link {
            font-family:B Koodak,Arial, sans-serif;
             font: normal 12px/150% ,B Koodak,Arial, sans-serif;
          margin:auto;
    padding: 10px 15px;
    background-color:#00a99d;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width:100px;
}
.button_link:hover {
    background: #28d288;
    border: solid 1px #2A4E77;
    text-decoration: none;
   color:white;
}
.button_link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}
.forgetPassword {
    font-size:14px;
    }
.forgetPassword:hover {
    text-decoration:underline;

    }
</style>

     <div class="datagrid">
        <table>
             <thead>
              <tr>
               <th colspan="2">
              @Html.Label("جوایز برنزی")
                </th>
             </tr>
             </thead>
             <tbody>
                 <tr>
                 <td >
                     <div class="editor-label" >
کاربران gplusplus می توانند با ثبت کد کارت های امتیازی در وب سایت از خدمات وب سایت استفاده نمایند .یکی از مهم ترین کاربردهای امتیازهای بدست آمده این می باشد که شما می توانید به ازای امتیازی که از  یک کالا یا خدمات را از سایت به صورت رایگان دریافت کنید.
                    
                         </div>
                    <div class="editor-field">
               
                    </div>
                 </td>
               </tr>
                    <tr>
                 <td>
                     <div class="editor-label">
                 ***محدوده امتیازی در نظر گرفته شده برای جوایز برنزی از امتیاز 1000 تا 5000 میباشد.***
                    <div class="editor-field">
               
                    </div>
                 </td>
               </tr>
                <tr>
                   <td>
                     <div class="editor-label">
                 <img  src="~/images/boronze.jpg"  width="339" height="158"/>
                     </div>
                   </td>
                    <td>
                        <div class="editor-field">
                        
                        </div>
                     </td>
                </tr>
                </tbody>
        </table>
</div>
