@{
    ViewBag.Title = "هدایای نقره ایی";
}





<div class="container" style="margin-top:120px;margin-bottom:20px;">
    <div class="row">
        <div class="col-lg-12" >
            <div class="row">
                <div class="col-lg-12" >
                        <div style="width: 100%; background:#fff; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px; overflow: hidden; direction: rtl; text-align: center;border:1px solid #00a99d">
                                <div style="background: #00a99d; padding: 5px;">
                                    <h2 style="color:white">جوایز نقره ایی</h2>
                                </div>
                                <div class="myPanel" style="padding-top: 10px; height: 400px">
                                    <p style="font-size:larger">
                                                      کاربران gplusplus می توانند با ثبت کد کارت های امتیازی 
                         در وب سایت از خدمات وب سایت استفاده نمایند .یکی از مهم ترین کاربردهای امتیازهای بدست آمده این می باشد
                          که شما می توانید به ازای میزان امتیاز ثبت شده از بخش فروشگاه GPLUS  به صورت رایگان کالای مورد نظر خود را دریافت کنید.
                    </p>
                                    <div style="border-bottom:1px solid rgba(0, 0, 0, 0.6);border-top:1px solid rgba(0, 0, 0, 0.6)">
                                        <p>
                 ***محدوده امتیازی در نظر گرفته شده برای جوایز عادی از امتیاز 5000 تا 15000 میباشد.***
                                        </p>
                                    </div>
                                    <div style="text-align:center;">
                                           <img  src="~/images/silver.jpg" class="img-responsive" style="margin:auto"/>
                                        </div>
                                </div>
                            </div>
                </div>
            </div>


        </div>
    </div>
</div>








