<p style="color:red;">
شما می توانید بر اساس نیاز خود یکی از انواع قرار داهای شرکت را انتخاب نمایید. شایان ذکر است تفاوت قراردادها در تعداد امتیازات و نحوه فروش آنها می باشد.
    . ( هر 1 امتیاز = 1000 تومان )
              تبصره : کارتها عادی بصورت 1 - 2 - 5 – 10 – 20  و کارتهای مناسبت دار بصورت 25 – 50 – 100 – 200  و . . .  عرضه می شود.

</p>