

<div>  <p style="text-align:center;font-size:large;color:red;direction:rtl">خطا در عملیات ثبت نام. 
    
       </p></div>
    <p id="footer_SMSNotSend" style="text-align:center" >جهت بازگشت به صفحه خانگی بر روی @Html.ActionLink("صفحه خانگی","Index", "Home",new { @style=" color:green;" })  کلیک نمایید.</p>
