@*<link href="Content/HomeContentNews/css/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
@*<link href="Content/HomeContentNews/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />*@
<link href="Content/HomeContentNews/css/site.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="Content/HomeContentNews/scripts/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>


<div class="panel panel-default" style="background: #f26d7d;">

    <div class="panel-body" style="background: #f26d7d;">
        <div class="row" style="background: #f26d7d;">
            <div class="col-xs-12">
                <ul class="demo1">
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="../../Images/orderedList1.png" width="60" class="img-circle" /></td>
                                <td>تاسیس دپارتمان GPLUSPLUS...<a href="#" data-toggle="modal" data-target="#myModal-news-1">بیشتر بخوانید...</a></td>

                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="../../Images/orderedList2.png" width="60" class="img-circle" /></td>
                                <td>افتتاح نمایندگی پیرانشهر... <a href="#" data-toggle="modal" data-target="#myModal-news-2">بیشتر بخوانید...</a></td>

                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="../../Images/orderedList3.png" width="60" class="img-circle" /></td>
                                <td>پیام تبریک سال نو... <a href="#" data-toggle="modal" data-target="#myModal-news-3">بیشتر بخوانید...</a></td>

                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="../../Images/orderedList4.png" width="60" class="img-circle" /></td>
                                <td>تدوین اولین شماره آگهی نامه تخصصی... <a href="#" data-toggle="modal" data-target="#myModal-news-4">بیشتر بخوانید...</a></td>

                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="../../Images/orderedList5.png" width="60" class="img-circle" /></td>
                                <td>افتتاح نماینگی مهاباد... <a href="#" data-toggle="modal" data-target="#myModal-news-5">بیشتر بخوانید...</a></td>

                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="../../Images/orderedList6.png" width="60" class="img-circle" /></td>
                                <td>رایزنی برای برگزاری جشنواره بازارچه مرزی سرو... <a href="#" data-toggle="modal" data-target="#myModal-news-6">بیشتر بخوانید...</a></td>

                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="../../Images/orderedList7.png" width="60" class="img-circle" /></td>
                                <td>تدوین دومین شماره آگهی نامه تخصصی... <a href="#" data-toggle="modal" data-target="#myModal-news-7">بیشتر بخوانید...</a></td>

                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="../../Images/orderedList8.png" width="60" class="img-circle" />
                                </td>
                                <td>تدوین سومین شماره آگهی نامه تخصصی... <a href="#" data-toggle="modal" data-target="#myModal-news-8">بیشتر بخوانید...</a></td>

                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>



<!-- Modal -->
<div id="myModal-news-8" class="modal fade" role="dialog" style="margin-top: 100px; direction: rtl;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تدوین سومین شماره آگهی نامه تخصصی</h4>
            </div>
            <div class="modal-body">
                <p>
                    در تاریخ 08/09/1394 سومین شماره آگهی نامه تخصصی GPLUS به صورت رایگان برای مراکز طرف قرارداد تدوین شد . شایان ذکر است در این آگهی نامه
                    عنوان 40 مرکز حضور داشته که به صورت رایگان در تمامی استان پخش خواهد شد.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>


<div id="myModal-news-7" class="modal fade" role="dialog" style="margin-top: 100px; direction: rtl;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تدوین دومین شماره آگهی نامه تخصصی</h4>
            </div>
            <div class="modal-body">
                <p>
                    در تاریخ 17/6/1394 دومین شماره آگهی نامه تخصصی GPLUS به صورت رایگان برای مراکز طرف قرارداد تدوین شد . شایان ذکر است در این آگهی نامه
                     عنوان 32 مرکز حضور داشته که به صورت رایگان در تمامی استان پخش خواهد شد.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>

<div id="myModal-news-6" class="modal fade" role="dialog" style="margin-top: 100px; direction: rtl;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">جشنواره بازارچه مرزی سرو</h4>
            </div>
            <div class="modal-body">
       <p>
            طی ملاقات و جلسات برگزار شده توسط تیم اجرایی شرکت با جناب اقای نقشین نژاد شهردار محترم شهر مرزی سرو و جناب اقای نریمانی بخشدار محترم شهر سرو
             تفاهمات اولیه جهت رونق و راه اندازی بازارچه این شهر مرزی انجام گرفت. 
            <br />
            همچنین جهت همفکری و تعاملات بیشتر با اصناف و کسبه محترم این شهر در مورخه 15//6//1394 جلسه معرفی و تشریح پروژه از
             ساعت 15 الی 18 در سالن اجتماعات شهرداری سرو با حضور اصناف برگزار گردید. <br />
            ابتدای این جلسه بخشدار صومای برادوست جناب اقای نریمانی به معرفی و برنامه های انجام گرفته در این بخش پرداختند که باعث خوشحالی اصناف و کسبخ محترم گردید.
            سپس از طرف GTOP جناب اقای مهندس مکاریان به توضیح و تشریح مسائل و اهم برنامه ها برای پروژه اقتصادی-فرهنگی-ورزشی-تفریحی-توریستی پرداختند و سپس
            بعد از انجام مراسمات مربوط به پذیرایی ، شهردار محترم جناب اقای نقشین نژاد به بیان مشکلات شهری و راه حل های  آن پرداخته و ضمت تشکر از حضور گروه GTOP و ایجاد
            این پروژه در شهر سرو به همکاری قانونی با این مجموعه تاکید کردند. 
            ور در پایان با بیان پرسش و پاسخ از طرف اصناف نسبت به وضععیت اجرایی طرح جلسه به پایان رسید.         
        </p>
                <img src="../../Content/HomeContentUnAuthNews/img/news-5-1.jpg" alt="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>

<div id="myModal-news-5" class="modal fade" role="dialog" style="margin-top: 100px; direction: rtl;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">افتتاح نماینگی مهاباد</h4>
            </div>
            <div class="modal-body">
         <p>
            با توجه موقعیت جغرافیایی و مهمانپذیری شهرستان مهاباد در تاریخ 27 مرداد سال 1394 نمایندگی مهاباد با مدیریت جناب آقای جمال صابری در خیابان طالقانی شرقی ، پاساژ بغدادی  افتتاح گردید.
       
        </p>
                <img src="../../Content/HomeContentUnAuthNews/img/news-2-1.jpg" alt="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>

<div id="myModal-news-4" class="modal fade" role="dialog" style="margin-top: 100px; direction: rtl;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تدوین اولین شماره آگهی نامه تخصصی</h4>
            </div>
            <div class="modal-body">
           <p>
           آگهی نامه یکی از ابزارهای اطلاع رسانی محسوب می شود که به صورت حضوری و دیداری در بین افراد و اصناف پخش می گردد.
            گروه آراد پارسیان (GTOP) برای اولین بار اقدام به چاپ آگهی نامه اختصاصی در سایز A3 نموده که به عنوان یکی از آفرهای رایگان به مراکز طرف قرارداد خود عرضه می نماید.
          <br />
            در هفته دوم تیر ماه سال 1394 اولین شماره آگهی نامه تخصصی با معرفی و تشریح اهداف و فعالیت های GTOP به صورت رایگان دراستان آذرباجان غربی پخش گردید.
        </p>
                     <img src="../../Content/HomeContentUnAuthNews/img/news-4-1.jpg" alt="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>

<div id="myModal-news-3" class="modal fade" role="dialog" style="margin-top: 100px; direction: rtl;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">پیام تبریک سال نو</h4>
            </div>
            <div class="modal-body">
              <p>
            نوروزی برجای مانده از برگ برگ صفحات ایران زمین 
            و برآمده از ذوق کهن سنت ها و نمادی از طراوت و زندگی، با دوستان سبز خود نفسی تازه بر چهره طبیعت می دمد و پا به پای آن
             ، ایرانی برای تلاشی عظیم ، عزم خویش را جزم می کند تا به سرانجام مقصود ، دانش و فرهیختگی ، اقتدار و سازندگی برسد ، 
            امید است با مدد یزدان پاک تمامی دلسوزان و تلاشگران عرصه کار و تولید ، سالی سرشار از موفقیت و کامیابی پیش رو داشته باشند. 
        </p>
                    <img src="../../Content/HomeContentUnAuthNews/img/news-3-1.jpg" alt="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>

<div id="myModal-news-2" class="modal fade" role="dialog" style="margin-top: 100px; direction: rtl;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">افتتاح نمایندگی پیرانشهر</h4>
            </div>
            <div class="modal-body">
              <p>مجموعه GPLUS با استراتژی از میان برداشتن محدودیت های مکانی و زمانی پا به عرصه گزاشته تا بتواند در سراسر کشور فعالیت مستمر داشته باشد. 
            لذا از اهداف اولیه این مجموعه گسترش فعالیت های شرکت در شهرهای اطراف می باشد. <br/>
            با توجه به موقعیت شهر پیرانشهر در جلسه مورخه دهم اسفند سال 1393 هیئت مدیره GTOP تصمیم به اعطای نمایندگی GPLUS در شهرستان پیرانشهر نمود.
            در تاریخ 13 اسفند همان سال نمایندگی GPLUS در شهرستان پیرانشهر 
        </p>
                <img src="../../Content/HomeContentUnAuthNews/img/news-2-1.jpg" alt="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>

<div id="myModal-news-1" class="modal fade" role="dialog" style="margin-top: 100px; direction: rtl;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تاسیس دپارتمان GPLUSPLUS</h4>
            </div>
            <div class="modal-body">
                <p>بعد از تحقیقات میدانی فراوان و پیدا کردن نیاز های اصلی  جامعه  که
             هزینه و فشار بالایی را بر اقتصاد خانواده ها وارد می کنند و همچنین با هدف پیشبرد و ساماندهی سبد 
            اقتصادی خانواده و کاهش هزینه های جاری و پیشروی هر خانواده دپارتمان GPLUSPLUS به عنوان
             یکی از زیر مجموعه های GTOP در پنجم اسفند سال 1393 در شهرستان ارومیه شروع به فعالیت نمود.</p>
                    <img src="../../Content/HomeContentUnAuthNews/img/News-1-1.gif" alt="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>



@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")*@

<script type="text/javascript">
    var njq = $.noConflict();
    njq(document).ready(function () {
        njq(".demo1").bootstrapNews({
            newsPerPage: 4,
            autoplay: true,
            pauseOnHover: true,
            direction: 'up',
            newsTickerInterval: 4000,
            onToDo: function () {
                //console.log(this);
            }
        });
    });
</script>
